{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Login
{% endblock %}

{% block contents %}

    <!-- Contact Section Start -->
    <section class="contact-section pt-90 pb-90" style="margin-top: 40px; background-color: #255669;">
        <div class="container">
            <div class="row contact-bg">
                <div class="col-md-12 col-lg-4 p-0">
                    <div class="contact-text">
                    	<h2>Start <span>Booking</span></h2>
                        <h4>Login</h4>
                        <div class="sec-line mb-20"></div>
                        <div class="contact-info">
                            <div class="icon-box">
                                <i class="flaticon-pin-1"></i>
                            </div>
                            <h6>Street melbourne, Australia</h6>
                        </div>
                        <div class="contact-info">
                            <div class="icon-box">
                                <i class="flaticon-flash"></i>
                            </div>
                            <h6>+880 195085 363</h6>
                        </div>
                        <div class="contact-info">
                            <div class="icon-box">
                                <i class="pe-7s-map"></i>
                            </div>
                            <h6>info@bdCoderonline.com</h6>
                        </div>
                        <div class="contact-info">
                            <div class="icon-box">
                                <i class="pe-7s-server"></i>
                            </div>
                            <h6><a href="#">http:/bdCoderonline.com</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8 style-2">

    			  	<form class="booking-form" method="post">
                    	<nav>
    					  <div class="nav nav-tabs" id="nav-tab1" role="tablist">
    					    <a class="nav-item nav-link active" id="nav-hotelbk-tab" data-toggle="tab" href="#nav-hotelbk" role="tab" aria-controls="nav-hotelbk" aria-selected="true">Login to your account</a>
    					  </div>
    					</nav>

    					<div class="tab-content" id="nav-tabContent1">

    					  <!-- item start -->
    					  <div class="tab-pane fade show active" id="nav-hotelbk" role="tabpanel" aria-labelledby="nav-hotelbk-tab">
                            <div class="form-row">

                                {% csrf_token %}

                                {# Install bootstrap4 first to work #}
                                <div class="form-group col-md-12">
                                   {% bootstrap_form form %}
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="contact-textarea text-center">
                                        <button class="btn btn-lg btn-warning" type="submit" value="Login">Login</button>
                                    </div>
                                </div>

                            </div>
    					  </div>
    					  <!-- item end -->

    					</div>
    				</form>

                    <p class="text-center"><a href="{% url 'accounts:password_reset' %}">
                        <strong>Forgot Password ?</strong></a></p>

                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}