{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Password Reset Done
{% endblock %}

{% block contents %}

<!-- Contact Section Start -->
<section class="contact-section pt-90 pb-90" style="margin-top: 40px; background-color: #255669;">
    <div class="container">
        <div class="row contact-bg">

            <div class="col-md-8 col-lg-8 style-2" style="margin-left: auto; margin-right: auto;">

                <h3>Password reset Done</h3>

            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

{% endblock %}