{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block contents %}
    <!-- Slick Section Start -->

    <section class="slider-wrapper st-two p-0">
        <div id="slider-style-one" class="carousel slide bs-slider control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#slider-style-one" data-slide-to="0" class="active"></li>
                <li data-target="#slider-style-one" data-slide-to="1"></li>
                <li data-target="#slider-style-one" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">

                <!-- Item Slide -->
                <div class="carousel-item active">

                    <!-- Slide Background -->
                    <img src="{% static 'ticket_reservation/images/slider/1.jpg' %}" alt="Slider Images"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide-style-left st-two">
                                <h1>Welcome to</h1>
                                <h2>Touran<span>Airline</span> Services</h2>
                            </div>
                            <!-- Package Box -->
                            <div class="package-box">
                                <h1><span>45%</span> off</h1>
                                <h4>on all package</h4>
                                <a href="{% url 'flights:all-flights' %}">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Item Slide -->
                <div class="carousel-item">

                    <!-- Slide Background -->
                    <img src="{% static 'ticket_reservation/images/slider/2.jpg' %}" alt="Slider Images"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">

                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide-style-right st-two">
                                <h1>Airline Bookings</h1>
                                <h2>Made Easy</h2>
                            </div><!-- Package Box -->
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Item Slide -->
                <div class="carousel-item">

                    <!-- Slide Background -->
                    <img src="{% static 'ticket_reservation/images/slider/3.jpg' %}" alt="Slider Images"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">

                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide-style-center st-two">
                                <h1>Get a tour</h1>
                                <h2>We provide best <span>Tour</span> Pacakage</h2>
                                <div class="btn-box">
                                    <a href="#" class="btn-theme">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

            </div><!-- End of Wrapper For Slides -->

            <!-- Left Control -->
            <a class="left carousel-control" href="#slider-style-one" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#slider-style-one" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- End  slider-style-one Slider -->
    </section>
    <!-- Slick Section End -->

    <!-- Welcome Section Start -->
    <section class="welcome-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-12">
    				<div class="icon-wrp">
    					<div class="icon-box">
    						<i class="fa fa-wifi"></i>
    						<h5>Travel</h5>
    						<a href="#">view more</a>
    					</div>
    					<div class="icon-box">
    						<i class="fa fa-crosshairs"></i>
    						<h5>Packages</h5>
    						<a href="#">view more</a>
    					</div>
    					<div class="icon-box">
    						<i class="fa fa-plane"></i>
    						<h5>Vehicle</h5>
    						<a href="#">view more</a>
    					</div>
    					<div class="icon-box">
    						<i class="fa fa-umbrella"></i>
    						<h5>Hotels</h5>
    						<a href="#">view more</a>
    					</div>
    					<div class="icon-box">
    						<i class="fa fa-map-marker"></i>
    						<h5>Destinations</h5>
    						<a href="#">view more</a>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <!-- Welcome Section End -->

<section class="special-packages-sec pt-85 pb-60">
    <div class="container">

        <div class="row">
            <div class="section-title">
                <h4>Available Flights</h4>
            </div>
        </div>

        <div class="row grid-mb">

        {% for flight in object_list %}
        <div class="col-md-4">
            <div class="special-packages">
                <div class="thumb">
                    <img src="{% static 'ticket_reservation/images/features/1.jpg' %}" alt="">
                    <div class="offer-price"> Off 40%</div>
                    <div class="post-title-box">
                        <div class="price-box">
                            <h5><span>$</span>{{ flight.cost }}</h5>
                        </div>
                        <div class="title-box">
                            <h6 style="color: #fff;">
                                <span class="theme-color">From:</span> {{ flight.departure_location }}
                                <span class="theme-color">To:</span> {{ flight.arrival_location }}</h6>
                            <h6 style="color: #fff;">
                                <span class="theme-color">Leaves:</span> {{ flight.departure_date|date:"d, M. Y" }}
                                <span class="theme-color">Arrives:</span> {{ flight.arrival_date|date:"d, M. Y" }}</h6>
                        </div>
                    </div>
                </div>
                <div class="content">
{#                    <ul class="info">#}
{#                        <li><a href="#"><i class="fa fa-calendar"></i>4 Days</a></li>#}
{#                        <li><a href="#"><i class="fa fa-user"></i>2 Person</a></li>#}
{#                    </ul>#}
                    <h5 class="share-btn">
                        <i class="fa fa-share-alt"></i>Share</h5>

                    {% if user.is_authenticated and user in flight.customers.all %}
                        <a href="{% url 'flights:flight-detail' pk=flight.id %}" class="btn-theme">Booked</a>

                    {% elif not user.is_authenticated %}
                    <a class="btn-theme" href="{% url 'flights:book-ticket' pk=flight.id %}">Book Now</a>

                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}

        </div>

        <div class="text-center">
            <a class="btn-theme" href="{% url 'flights:all-flights' %}">More Flights</a>
        </div>


    </div>
</section>
    <!-- Special Places Section End -->

    <!-- Features Section Start -->
    <section class="feature-section over-layer-black pt-85 pb-90">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h4>Touran Travel Features</h4>
                    <h2>Why <span>Choose</span> Touran</h2>
                    <p>Deserunt quia ducimus ut illum optio cum eum voluptate corrupti numquam</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-item">
                        <div class="icon-box">
                            <i class="flaticon-like"></i>
                        </div>
                        <div class="content">
                            <h3><a href="#">Years of <span>experience</span></a></h3>
                            <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <div class="icon-box">
                            <i class="flaticon-manager"></i>
                        </div>
                        <div class="content">
                            <h3><a href="#">Expert Tour <span>Guide</span></a></h3>
                            <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item last">
                        <div class="icon-box">
                            <i class="flaticon-heart-1"></i>
                        </div>
                        <div class="content">
                            <h3><a href="#">Beautiful <span>Tour Place</span></a></h3>
                            <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Section End -->

    <!-- Global Section Start -->
    <section class="global-section over-layer-white pt-80 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-12">
                    <div class="global-area">
                        <div class="inner-title">
                            <h2>Now We Are Globaly Everywhare</h2>
                            <h3>Discover  vestibulum <span>pharetra orci turpis</span>, ut interdum </h3>
                            <div class="sec-line"></div>
                        </div>
                        <p>Pellentesque consectetur condimentum libero, interdum aliquet enim sollic tudin ut. Donec dapibus tempor odio eu aliquet. Vivamus ultricies augue ut.</p>
                        <h4>Condimentum at sed sapien:</h4>
                        <ul>
                            <li>consectetur adipting elit.</li>
                            <li>consectetur adipting elit.</li>
                            <li>consectetur adipting elit.</li>
                            <li>consectetur adipting elit.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-8 col-md-10">
                    <div class="map-area">
                        <img src="{% static 'ticket_reservation/images/photos/map01.png' %}" alt="image">
                    </div>
                    <p class="map-content">Discover  vestibulum <span class="color-light">Call:</span> <span>+88095085363</span>, ut interdum </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Global Section End -->

    <!-- Gallery Section Start -->
    <section class="gallery-section pt-85 pb-0">
        <div class="container-fluid">

            <div class="row">
                <div class="section-title">
                    <h4>Touran Travel Gallery</h4>
                    <h2>Touran <span>Tour</span> Gallery</h2>
                    <p>Deserunt quia ducimus ut illum optio cum eum voluptate corrupti numquam</p>
                </div>
            </div>

            <div class="row gallery-items">
            	<div class="col-sm-4 col-grid">
            		<div class="gallery-item">
            			<div class="thumb">
            				<img src="{% static 'ticket_reservation/images/gallery/1.jpg' %}" alt="image">
            				<div class="overlay">
            					<div class="inner">
                					<a href="{% static 'ticket_reservation/images/gallery/1.jpg' %}" class="icon lightbox-image">
                						<i class="fa fa-plus"></i>
                					</a>
                					<h4>Beautiful Nature</h4>
                					<p>Tour, Travel</p>
            					</div>
            				</div>
            			</div>
            		</div>
            	</div>
            	<div class="col-sm-4 col-grid col-center">
            		<div class="gallery-item">
            			<div class="thumb">
            				<img src="{% static 'ticket_reservation/images/gallery/2.jpg' %}" alt="image">
            				<div class="overlay">
            					<div class="inner">
                					<a href="{% static 'ticket_reservation/images/gallery/2.jpg' %}" class="icon lightbox-image">
                						<i class="fa fa-plus"></i>
                					</a>
                					<h4>Beautiful Nature</h4>
                					<p>Tour, Travel</p>
            					</div>
            				</div>
            			</div>
            		</div>
            	</div>
            	<div class="col-sm-4 col-grid">
            		<div class="gallery-item">
            			<div class="thumb">
            				<img src="{% static 'ticket_reservation/images/gallery/3.jpg' %}" alt="image">
            				<div class="overlay">
            					<div class="inner">
                					<a href="{% static 'ticket_reservation/images/gallery/3.jpg' %}" class="icon lightbox-image">
                						<i class="fa fa-plus"></i>
                					</a>
                					<h4>Beautiful Nature</h4>
                					<p>Tour, Travel</p>
            					</div>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>

        </div>
    </section>
    <!-- Gallery Section End -->
{% endblock %}