{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Flights
{% endblock %}

{% block contents %}

    <section class="inner-area parallax-bg" data-background="images/bg/px-1.jpg" data-type="parallax" data-speed="3" style="background-image: url(&quot;images/bg/px-1.jpg&quot;); background-position: 50% -51.0333px;">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-12">
            <h4>Holiday</h4>
            <p>Home <a href="#">Packages</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section class="special-packages-sec pt-85 pb-60">
            <div class="container">
                <div class="row grid-mb">

                    {% for flight in object_list %}
                    <div class="col-md-4">
                        <div class="special-packages">
                            <div class="thumb">
                                <img src="{% static 'ticket_reservation/images/features/1.jpg' %}" alt="">
                                <div class="offer-price"> Off 40%</div>
                                <div class="post-title-box">
                                    <div class="price-box">
                                        <h5><span>$</span>{{ flight.cost }}</h5>
                                    </div>
                                    <div class="title-box">
                                        <h6 style="color: #fff;">
                                            <span class="theme-color">From:</span> {{ flight.departure_location }}
                                            <span class="theme-color">To:</span> {{ flight.arrival_location }}</h6>
                                        <h6 style="color: #fff;">
                                            <span class="theme-color">Leaves:</span> {{ flight.departure_date|date:"d, M. Y" }}
                                            <span class="theme-color">Arrives:</span> {{ flight.arrival_date|date:"d, M. Y" }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <ul class="info">
                                    <li><a href="#"><i class="fa fa-calendar"></i>4 Days</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>2 Person</a></li>
                                </ul>
                                <h5 class="share-btn"><i class="fa fa-share-alt"></i> Share</h5>
                                <a class="btn-theme" href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div class="row">
                    <div class="col-md-12">
                       <div class="page-link-item text-center pt-30 pb-20">
                          <ul>
                            <li><a class="flaticon-left-arrow-1" href="#"></a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a class="flaticon-right-arrow-1" href="#"></a></li>
                          </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>

{% endblock %}