<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <img id="logo_img" src="{% static 'ticket_reservation/images/logo-1.png' %}" alt=""></a>
        <h3>Hello {{ firstname }} {{ lastname }}</h3><br>

         <p>Your fight ticket has been booked, below are the details:</p>
         <p><strong>Departure:</strong> {{ departure_location }} on {{ departure_date }}</p>
         <p><strong>Arrival:</strong> {{ arrival_location }} on {{ departure_date }}</p><br>

         <p>Login to start booking</p>

    </body>
</html>